## docker image
image: openjdk:11

## job test_code
## - run unit tests
## - evaluate test coverage 
test_code:
  stage: test
  script:
    - sh ./gradlew test jacocoTestReport
    - cat build/reports/jacoco/test/html/index.html
  tags:
    - DOCKER
